body {
  background-image: url("gnome.png");
}

.mol1 {
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly;
  flex-direction: column;
  flex: wrap;
  gap: 45px;
  margin: auto;
  margin-top: 40px;

  width: 100vw;
  align-items: center;

  padding: 15px;
}
.mol2 {
  color: azure;
}
.mol3 {
  background-color: red;
  color: black;
}
.text1 {
  resize: none;
  color: rgb(180, 5, 125);
  background-color: rgb(51, 51, 51);
}
